.tag {
    font-size: 0.55rem;
    vertical-align: middle;
    font-family: monospace;
    padding: 0.3rem;
    margin-right: 0.25rem;
    border-radius: 2px;
}
.solid {
    color: white;
    background-color: var(--red);
    border: none;
}
.outline {
    color: var(--red);
    background-color: white;
    border: 1px solid var(--red);
}