.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.6rem;
    + span {
        font-size: 0.8rem;
        color: var(--dark-gray);
    }
}
.solid { background-color: var(--red); }
.outline { border: 2px solid var(--red); }
.legendContainer { 
    display: flex;
    > div {
        display: flex;
        align-items: center;
        margin-right: 0.8rem;
        margin-bottom: 1rem;
    }
}
.horizontal { flex-direction: row;}
.vertical { flex-direction: column;}