.container {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 1rem;
}
.container__card {
    padding: 0.5rem 0.5rem 0 0.5rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 2px 4px 1px var(--red-shadow);
    border-top: 3px solid var(--red);
    border-left: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 320px;
    min-width: 320px;
    max-height: 300px;
    height: 300px;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    h3 { 
        margin: 0 0 0.5rem 0;
    }
    summary {
        font-size: 0.9rem;
        text-align: justify;
        color: var(--gray);
    }
    small {
        font-size: 0.7rem;
    }
    &:hover {
        background-color: var(--red-hover);
        .container__card__extLink {
            display: block !important;
        }
    }
}
.container__card__author {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: var(--normal);
    color: var(--gray);
    margin-left: 0;
    span {
        margin-left: 0.5rem;
        font-weight: 600;
    }
}
.container__card__avatar {
    border-radius: 50%;
}
.container__card__extLink {
    display: none !important;
}
.container__card__body {
    height: 100%;
}
.container__card__body__forkStar {
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    figure {
        margin: 0.5rem;
        margin-left: 0;
        display: flex;
        align-items: center;
        span {
            margin-left: 0.2rem;
        }
    }
}
.container__card__body__languages {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.alert {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}
@media screen and (max-width: 600px) {
    .container__card {
        width: 100%;
    }
}