.form-section {
    position: relative;
    top: 25px;
}

@media screen and (max-width: 480px) {
    .form-info {
        margin-top: 20px;
    }
    
}

.form-title {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    font-size: 0.6rem;
}

.form-map {
    height: 50%;
    max-height: 50%;
    margin-bottom: 10px;
    border-left: 8px solid rgb(3, 142, 255);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
}

.address-section {
    border-left: 8px solid rgb(223, 67, 40);
    border-top: 0px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0px solid transparent;
    background-color: rgb(255, 250, 248);
    padding-top: 8px;
    color: rgb(223, 67, 40);
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
}

.address-section div svg {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.address-section div span{
    font-size: 1rem;
    position: relative;
    left: 10px;
    bottom: 12px;
}

.form-social {
    border-left: 8px solid rgb(108, 255, 71);
    border-top: 0px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0px solid transparent;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 245, 248);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
    
}

.form-social svg {
    font-size: 2.2rem;
    position: relative;
    top: 3px;
}

.send-btn {
    position: relative;
    left: 50%;
    margin-left: -33px;
    box-shadow: 0px 5px 8px 3px #2a2b2a;
    background-color:#e4685d;
    border-radius:15px;
    border: none;
    outline: none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Jua', sans-serif;
    font-size:1.4rem;
    padding:5px 10px;
    margin-bottom: 10px;
}

.send-btn:hover {
    cursor: pointer;
    text-decoration:none;
    color:#ffffff;
    background-color:#e4685d;
    border: none;
    outline: none;
}

.send-btn:focus {
    border: none;
    outline: none;
}

.send-btn:active {
    position:relative;
    top:2px;
    background-color:#e4685d;
    border: none;
    outline: none;
}

.shake-btn {
    animation: btnShake 0.2s 3;
}

@keyframes btnShake {
    from {transform: translateX(-4px);}
    50% {transform: translateX(0px);}
    to {transform: translateX(4px);}
}

input.error {
    border: 1px solid red;
}
  
.errorMsg {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
