.form-section {
    position: relative;
    top: 25px;
}

@media screen and (max-width: 480px) {
    .form-info {
        margin-top: 20px;
    }
    
}

.form-title {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    font-size: 0.6rem;
}

.form-map {
    height: 50%;
    max-height: 50%;
    margin-bottom: 10px;
    border-left: 8px solid rgb(3, 41, 255);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
}

.address-section {
    border-left: 8px solid rgb(182, 52, 199);
    border-top: 0px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0px solid transparent;
    background-color: rgb(253, 248, 255);
    padding-top: 8px;
    color: rgb(182, 52, 199);
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
}

.address-section div svg {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.address-section div span{
    font-size: 1rem;
    position: relative;
    left: 10px;
    bottom: 12px;
}

.form-social {
    border-left: 8px solid tomato;
    border-top: 0px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0px solid transparent;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 245, 248);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
    
}

.form-social svg {
    font-size: 2.2rem;
    position: relative;
    top: 3px;
}
