.figure {
 width: 10rem;
 height: 10rem;
 margin: 0 auto;
 border-radius: 50%;
 display: flex;
 border: 4px solid rgba(232, 107, 77, 1);
}
.image {
 width: 10rem;
 height: 10rem;
 border-radius: 50%;
}
.profileName {
 font-size: 3.5em;
 line-height: 1.125;
 text-align: center;
 margin-bottom: 0.5rem;
}
.bio {
 letter-spacing: 2px;
 color: rgba(227, 162, 100, 1);
 font-weight: 600;
 text-align: center;
 margin: 1rem 0 2rem;
}
.socialList {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 1.8rem;
 list-style: none;
 padding: 0;
 margin: 2rem 0;
}
.socialListItem {
 padding: 4px;
 background: rgba(232, 107, 77, 1);
 border-radius: 50%;
 width: 24px;
 height: 24px;
 transition: all 0.3s ease-in-out;
}
.socialListItem:hover {
 transform: scale(1.4);
 background: none;
}

@media screen and (max-width: 480px) {
 .introduction {
  height: 70vh;
  justify-content: space-between;
 }
}
