.fluid-img{
    max-width: 600px;
    height: auto;
}

h1 {
    font-family: monospace;
    font-size: 4rem;
}

span{
    font-family: monospace;
    font-size: 1.2rem;
}

article>p{
    font-family: serif;
    font-size: 1.2rem;
}

