.fluid-img{
    max-width: 600px;
    height: auto;
}

h1 {
    font-family: monospace;
    font-size: 3.5rem;
}

span{
    font-family: monospace;
    font-size: 1.2rem;
}

article>p{
    font-family: serif;
    font-size: 1.2rem;
}

.active-link{
    font-size: 1.1rem;
    color: tomato;
    &:hover{
        background: tomato;
        border-radius: 5px;
        font-size: 1rem;
        padding: 5px;
        color: white;
    }
}

.footer-link{
    font-size: 1.6rem;
    font-style: italic;
    text-decoration: none;
    color: tomato;
    &:hover{
        font-size: 1.3rem;
        border-radius: 5px;
        padding: 5px;
        font-style: italic;
        text-decoration: none;
        color: white;
        background: tomato;
    }
}

blockquote {
    background: #212529;
    border-radius: 10px;
    padding: 0.8rem;
}

@media screen and (max-width: 768px){
    .fluid-img{
        max-width: 300px;
        height: auto;
    }
}

