.sharebtn {
  color: var(--white);
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  transition: 0.3s all linear;
  &__icon {
    fill: var(--white);
    stroke-width: 0;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
  }
  &__label {
    vertical-align: middle;
    margin-left: 0.5rem;
  }
  &--buymecoffee {
    background-color: var(--tomato);
    box-shadow: 3px 9px 15px 2px var(--tomato25), -1px -1px 15px 2px var(--tomato25);
    &:hover {
      background-color: var(--mahogany);
    }
  }
  &--facebook, &--facebook_page {
    background-color: var(--denim);
    box-shadow: 3px 9px 15px 2px var(--denim25), -1px -1px 15px 2px var(--denim25);

    &:hover {
      background-color: var(--rhino);
    }
  }
  &--linkedin, &--linkedin_page {
    background-color: var(--frenchBlue);
    box-shadow: 3px 9px 15px 2px var(--frenchBlue25), -1px -1px 15px 2px var(--frenchBlue25);
    &:hover {
      background-color: var(--seaBlue);
    }
  }
  &--email {
    background-color: var(--sonicSilver);
    box-shadow: 3px 9px 15px 2px var(--sonicSilver25), -1px -1px 15px 2px var(--sonicSilver25);
    &:hover {
      background-color: var(--carbonGrey);
    }
  }
  &--twitter, &--discuss, &--twitter_page, &--paypal {
    background-color: var(--pictonBlue);
    box-shadow: 3px 9px 15px 2px var(--pictonBlue25), -1px -1px 15px 2px var(--pictonBlue25);
    &:hover {
      background-color: var(--buttonBlue);
    }
  }
  &--reddit {
    background-color: var(--blueGray);
    box-shadow: 3px 9px 15px 2px var(--blueGray25), -1px -1px 15px 2px var(--blueGray25);

    &:hover {
      background-color: var(--moonstone);
    }
  }
  &--whatsapp {
    background-color: var(--ufoGreen);
    box-shadow: 3px 9px 15px 2px var(--ufoGreen25), -1px -1px 15px 2px var(--ufoGreen25);

    &:hover {
      background-color: var(--green);
    }
  }
  &--github, &--sponsor {
    background-color: var(--charcoal);
    box-shadow: 3px 9px 15px 2px var(--darkCharcoal25), -1px -1px 15px 2px var(--darkCharcoal25);
    &:hover {
      background-color: var(--darkCharcoal);
    }
  }
}
