.featured {
    display: grid;
    row-gap: 2rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 1rem 0;
    &__content {
        position: relative;
        box-shadow: 3px 3px 4px rgba(157, 157, 157, 0.3), -3px -3px 4px rgba(236, 236, 236, 0.7);
        padding: 1rem 1rem 0 1rem;
        max-width: 320px;
        height: 330px;
        max-height: 330px;
        border-bottom: 2px solid var(--dark-gray);
        > summary {
            font-family: monospace;
            font-size: small;
            text-align: justify;
        }
        &:hover {
            background-color: var(--red-hover);
            .featured__extlinkIcon {
                display: block !important;
            }
        }
    }
    &__link {
        margin: 0;
        position: absolute;
        top: 1px;
        right: 2px;
    }
    &__figure {
        border-radius: 50%;
        margin: 0.5rem auto;
        height: 140px;
        width: 140px;
        box-shadow: 0 1px 10px 1px rgb(0 0 0 / 20%);
    }
    &__platforms {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        > figure {
            margin: 0;
        }
    }
    &__extlinkIcon {
        display: none !important;
    }
}
