.tags {
    display: inline-block;
    margin: 0.4rem 0;
    &__text {
        padding: 3px;
        background: var(--tomato);
        border-radius: 2px;
        font-weight: 00;
        color: var(--sepia);
        margin-right: 0.5rem;
        font-size: 0.7rem;
    }
}