.navigation{
    width: 100%;
    font-family: 'Jua', sans-serif;
    font-size: 1.4rem;
    background: rebeccapurple;
  }

  .navigation button:focus {
    outline: none;
  }
  
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  
  .navigation a {
    padding: 10px 20px;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }
  
  .navigation a:hover {
    text-decoration: none;  
  }
  
  /* Overrided value */
  .navigation .navbar-toggler-icon {
    background: url('https://api.iconify.design/jam:menu.svg?color=white') no-repeat center center/2.5rem;
  }
  
  .rotate-burger {
    transform: rotate(90deg);
    transition-duration: 0.5s;
  }
  
  .original-burger {
    transform: rotate(0deg);
    transition-duration: 0.5s;
  }
  
  .active-nav-item {
    font-size: 1.8rem;
  }
  