.text {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: var(--light-gray);
    font-family: 'Poppins', cursive;
}
.name {
    color: black;
}
.route {
    color: var(--red);
    text-decoration: underline;
}