.container {
    min-width: 120px;
    position: relative;
    &__header {
        font-size: 14px;
        font-weight: 400;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem;
        font-weight: 500;
        cursor: pointer;
        border: 2px solid var(--arsenic);
        margin-bottom: 2px;
        border-radius: 2px;
    }
    &__list {
        position: absolute;
        width: 100%;
        background: #ffffff;
        border: 2px solid var(--arsenic);
        padding: 0;
        margin: 0;
    }
    &__item {
        list-style: none;
        padding: 0.2rem 0 0 0.2rem;
        font-size: 0.8rem;
        &:hover {
            background-color: var(--tomato10);
            cursor: pointer;
        }
        &:first-child {
            padding: 0;
        }
    }
    &__caret {
        font-family: system-ui;
        padding: 0 0 0.2rem 0.4rem;
        font-weight: 700;
        color: var(--tomato);
    }
}
