.photo{
    border: 5px solid tomato;
    width: 55%;
    border-radius: 50%;
    text-align: center;
}

@mixin horizontal-list {
    display: flex;
    justify-content: space-evenly;
}

.social{
    @include horizontal-list;
    margin-top: 1rem;
}

@-webkit-keyframes bubble {
    from {transform: scale(0,0);}
    to {transform: scale(1,1);}
}

@keyframes bubble {
    from {transform: scale(0,0);}
    to {transform: scale(1,1);}
}

.badges{
    @include horizontal-list;
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    > a {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }
    img {
        animation-name: bubble;
        animation-duration: 0.4s;
        animation-timing-function: ease-out;
    }
}

.intro-code {
    font-size: 0.92rem;
    display: block;
    overflow-x: auto;
    white-space: pre;
    font-family: monospace;
    background-color: #212529;
    color: #96dfdf;
    border-radius: 10px;
}

.posts{
    list-style-type: none;
    display: flex;
    padding: 0;
}

.image-icon{
    height: auto;
    max-width: 50%;
    min-width: 50%;
    opacity: 0.8;
}

.active-link:hover{
    background: tomato;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 768px){
    .posts {
        display: block;
        padding: 0;
    }
    .image-icon{
        max-width: 20%;
        min-width: 20%;
    }
}
