.photo{
    border: 5px solid tomato;
    width: 55%;
    border-radius: 50%;
    text-align: center;
}

.social{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.posts{
    list-style-type: none;
    display: flex;
    padding: 0;
}

.image-icon{
    height: auto;
    max-width: 50%;
    min-width: 50%;
    opacity: 0.8;
    
}

.active-link:hover{
    background: tomato;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 768px){
    .posts {
        display: block;
        padding: 0;
    }
    .image-icon{
        max-width: 20%;
        min-width: 20%;
    }
}
