.contact {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.contactPara {
 text-align: center;
 font-size: 1.1rem;
 letter-spacing: 1px;
 word-spacing: 2px;
}
.contactEmail {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5rem auto 6rem;
 width: fit-content;
 height: 60px;
 border-radius: 0.875rem;
 box-shadow: 3px 3px 4px 1px rgb(24 24 24), -1px 0px 3px 0px rgb(232 107 77);
}
.contactEmailText {
 font-size: 1.4rem;
 font-weight: 700;
 letter-spacing: 2px;
 padding: 0 0.25rem 0 1rem;
 color: rgba(227, 162, 100, 1);
}
.contactEmailClipIcon {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 0.5rem 0 0.25rem;
 height: 100%;
 border-top-right-radius: 0.875rem;
 border-bottom-right-radius: 0.875rem;
 box-shadow: none;
 transition: box-shadow 0.4s ease;
}
.copySuccess {
 position: absolute;
 right: -1.5rem;
 border-radius: 0.875rem;
 top: -1.2rem;
 font-size: 0.8rem;
 font-weight: 700;
 padding: 0.3rem;
 background-color: rgb(232 107 77);
}
.contactEmailClipIcon:hover {
 cursor: pointer;
}
.contactEmailClipIcon:hover > svg > path {
 fill: rgba(227, 162, 100, 1);
 transition: all 0.2s ease-in-out;
}
.contactEmailClipIcon:active {
 box-shadow: inset 6px 6px 4px 0px rgb(0, 0, 0, 0.6);
}

.socialList {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 1.8rem;
 list-style: none;
 padding: 0;
}
.socialListItem {
 padding: 4px;
 background: rgba(232, 107, 77, 1);
 border-radius: 50%;
 width: 24px;
 height: 24px;
 transition: all 0.3s ease-in-out;
}
.socialListItem:hover {
 transform: scale(1.4);
 background: none;
}

@keyframes scaleIcon {
 0% {
  box-shadow: none;
 }
 25% {
  box-shadow: inset 3px 3px 6px 0px rgb(0, 0, 0, 0.4);
 }
 50% {
  box-shadow: inset 3px 3px 6px 0px rgb(0, 0, 0, 0.6);
 }
 75% {
  box-shadow: inset 3px 3px 6px 0px rgb(0, 0, 0, 0.4);
 }
 100% {
  box-shadow: none;
 }
}
