.about {
    &__row {
        padding: 5rem 3rem;
        h1 {
            font-size: 3rem;
            letter-spacing: 4px;
            margin: 1rem 0 4rem 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
        h3 {
            font-weight: 500;
            font-size: 1.5rem;
            letter-spacing: 1px;
            max-width: 800px;
            text-align: center;
            margin: 1rem auto;
        }
        p {
            line-height: 1.8;
            max-width: 800px;
            text-align: center;
            margin: 1rem auto 2rem auto;
        }
        &:nth-child(odd) {
            background-color: var(--arsenic);
            color: var(--sepia);
        }
        &:nth-child(even) {
            background-color: var(--sepia);
            color: var(--arsenic);
        }
    }
    &__service {
        display: flex;
        flex-direction: column;
    }
    &__services {
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 120px;
        }
        figure {
            border-top: 3px solid var(--white);
            border-right: 1px solid var(--white);
            box-shadow: 2px 3px 5px 1px var(--black20);
            padding: 0.5rem 1rem;
        }
    }
    &__team {
        display: flex;
        justify-content: space-evenly;
    }
    &__contact {
        color: var(--white);
        padding: 0.5rem;
        font-size: 1.5rem;
        display: block;
        width: 220px;
        letter-spacing: 2px;
        text-align: center;
        margin: 4rem auto 0 auto;
        border-top: 3px solid var(--tomato);
        border-right: 1px solid var(--tomato);
        box-shadow: 2px 3px 5px 1px var(--black20);
    }
    &__find_us {
        display: flex;
        justify-content: space-evenly;
        figure:first-child {
            padding: 0.4rem;
            background-color: var(--white);
            box-shadow: 0px -9px 20px 5px var(--black20);
            figcaption {
                font-weight: 200;
                letter-spacing: 1px;
            }
        }
    }
    &__followus {
        figure {
            display: flex;
            justify-content: space-between;
            margin: 0.5rem 0;
        }
    }
    @media screen and (max-width: 640px) {
        p {
            text-align: justify;
        }
        &__services {
            flex-wrap: wrap;
        }
        &__team {
            flex-direction: column;
        }
        &__find_us {
            flex-direction: column;
        }
    }
}
