.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    &__article {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        margin: 2px;
        width: 250px;
        max-width: 350px;
        &--red { background-color: var(--red); }
        &--blue { background-color: var(--blue); }
        &--gray { background-color: var(--dark-gray); }
        &--green { background-color: var(--green); }
        &:hover .intro__icon {
            opacity: 1;
            transform: translate(0, -140%);
            transition: all 0.4s ease-in-out;
        }
        &:hover .intro__text {
            opacity: 0;
        }
    }
    &__icon {
        opacity: 0;
        position: absolute;
        left: calc(50% - 1.25rem);
        bottom: 5%;
        width: 2.5rem;
        height: 2.5rem;
        fill: white;
    }
    &__text {
        color: white;
        font-weight: 600;
        letter-spacing: 4px;
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .intro {
        justify-content: center;
        &__article {
            width: 220px;
        }
    }
}