.blogs {
    max-width: 900px;
    padding: 2rem 1rem;
    margin: 1rem auto;
}
.summary {
    font-size: 0.8rem;
    border-left: 4px solid var(--tomato);
    padding: 0.4rem 0.5rem;
    margin: 1.5rem 0;
    background-color: var(--loblolly50);
    width: fit-content;
    border-radius: 2px;
}
.filter {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    &__input {
        padding: 0.4rem;
        border-radius: 2px;
        min-width: 150px;
        border: 2px solid var(--arsenic);
        width: 75%;
        outline: none;
        caret-color: var(--tomato);
    }
    &__select {
        padding: 0.35rem 0.4rem 0.4rem 0.4rem;
        border: 1px solid var(--black);
        border: 2px solid var(--arsenic);
        outline: 0;
        caret-color: var(--tomato);
    }
}
.blogpage {
    position: relative;
    max-width: 900px;
    padding: 2rem 1rem;
    margin: 3rem auto 0;
    &__back {
        position: absolute;
        right: 0;
        top: -2rem;
    }
    &__header {
        border-bottom: 1px solid var(--tomato);
        padding-bottom: 0.5rem;
        text-align: center;
        > h1 {
            font-size: 2.5rem;
            margin: 0.5rem 0 0 0;
        }
    }
    &__section {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--arsenic);
        width: 66px;
        height: 66px;
        justify-content: center;
        border-radius: 50%;
        color: var(--white);
        position: fixed;
        right: 18px;
        bottom: 90px;
        cursor: pointer;
        box-shadow: 0px 4px 8px var(--black40);
        span:first-child {
            font-size: 1.5rem;
        }
    }
    &__actions {
        position: relative;
        display: flex; 
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        &::after {
            content: "";
            position: absolute;
            width: 80px;
            border-top: 2px solid var(--tomato);
            top: 28px;
            left: -80px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 80px;
            border-top: 2px solid var(--tomato);
            top: 28px;
            right: -80px;
        }
    }
    &__label { font-size: 0.8rem; }
}
@media screen and (max-width: 640px) {
    .blogs {
        padding: 2rem 1rem 0;
        max-width: 100%;
    }
    .blogpage {
        max-width: 100%;
    }
    .filter__input {
        max-width: 180px;
    }
    .blogpage__actions {
        &::after, &::before {
            width: 0;
        }
    } 
}