/*App level styling*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  /* overflow: hidden; */
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.section {
	padding: 50px 0;
}

.section .heading {
	text-align: center;
	padding-bottom: 10px;
	width: 100%;
}

.resumeBtn {
	-moz-box-shadow: 0px 10px 18px 1px #0d1c05;
	-webkit-box-shadow: 0px 10px 18px 1px #0d1c05;
	box-shadow: 0px 10px 18px 1px #0d1c05;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89e05a), color-stop(1, #44911a));
	background:-moz-linear-gradient(top, #89e05a 5%, #44911a 100%);
	background:-webkit-linear-gradient(top, #89e05a 5%, #44911a 100%);
	background:-o-linear-gradient(top, #89e05a 5%, #44911a 100%);
	background:-ms-linear-gradient(top, #89e05a 5%, #44911a 100%);
	background:linear-gradient(to bottom, #89e05a 5%, #44911a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89e05a', endColorstr='#44911a',GradientType=0);
	background-color:#89e05a;
	-moz-border-radius:26px;
	-webkit-border-radius:26px;
	border-radius:26px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Jua', sans-serif;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.resumeBtn:hover {
	cursor:pointer;
	color:#ffffff;
  text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.resumeBtn:active {
	position:relative;
	top:2px;
}


/* Navigation styling--------------------------------------->*/
.navigation{
  width: 100%;
  font-family: 'Jua', sans-serif;
  font-size: 1.4rem;
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation a {
  padding: 10px 20px;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.navigation a:hover {
  text-decoration: none;
}

.navigation a:focus {
  font-size: 1.9rem;
} 

/*Welcome page style--------------------------------------------->*/
.content {
  position: relative;
  margin-top: 15px;
  top: 50%;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.content::before {
  color: white;
  content: "I'm";
  font-size: 1.5rem;
  font-family: 'Jua', sans-serif;
  letter-spacing: 4px;
}

h1, .intro{
  color:white;
  text-shadow: 0px 4px 2px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.2),
               0px 18px 23px rgba(0,0,0,0.1);
  letter-spacing: 8px;
}

h1{
  font-weight: 700;
  font-size: 4em;
  font-family: 'Jua', sans-serif;
}

.usp{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.7em;
  letter-spacing: 6px;
}

.time {
  position: relative;
  padding: 15px 0;
  margin: 0 auto;
  width: 60%;
  top: 40%;
  font-size: 1.2rem;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Jua', sans-serif;
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 18px 1px #0d1c05;
	-webkit-box-shadow: 0px 10px 18px 1px #0d1c05;
  box-shadow: 0px 10px 18px 1px #0d1c05;
  border-radius: 10px;

}

.morning{
  background-color: #FEE140;
  background-image: linear-gradient(180deg, #FEE140 0%, #FA709A 100%);
}

.noon {
  background-color: #FBAB7E;
  background-image: linear-gradient(180deg, #FBAB7E 0%, #F7CE68 100%);
}

.evening {
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.night {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* About page styling--------------------------------->*/

.intro{
  background-color: #5e003e;
  margin-left: 30px;
  margin-top: 20px;
  color: white;
  font-family: 'Jura', sans-serif;
}

.card{
  box-shadow: 0 6px 12px 0 #5e003e;
  border: 0;
  transition: 0.3s;
  padding-left: 0;
  padding-right:0;
  /*border-radius: 15px;*/
}

.avatar {
  max-width: 100%;
}

.textColor{
  color: #5e003e;
  margin-left: 30px;
}

/* Routing animation ------------------------------------->*/

.container {
  position: relative;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


/*About page children styling---------------------------------->*/
/* .childCards-enter {
  opacity: 0;
  transform: translate(20px);
}
.childCards-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.childCards-exit {
  opacity: 1;
}
.childCards-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
} */


