/*App level styling--------------------------------------->*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: rebeccapurple;
}

@media screen and (max-width: 768px) {
  body {
    background-color: rebeccapurple;
    overflow: scroll;
  }
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
  padding: 80px 0 50px 0;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 600ms, transform 600ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 600ms, transform 600ms;
}

/*App-Modal styling ---------------------------------------->*/

.modal-body svg {
  font-size: 1.4rem;
  margin-right: 10px;
  margin-bottom: 10px;
}



