.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    figure {
        border-radius: 50%;
        display: flex;
        width: 200px;
        height: 200px;
    }
    article {
        width: fit-content;
        flex: 2;
        p {
            font-style: italic;
            text-align: justify;
            font-weight: 500;
            color: var(--dark-gray);
        }
    }
}
.img {
    border-radius: 50%;
}
.skillTag {
    font-size: 0.8rem;
    margin: 0.2rem;
    min-width: 50px;
    text-align: center;
}
.tagsContainer {
    display: flex;
    flex-wrap: wrap;
}
.contactMe {
    font-size: 0.9rem;
    text-align: justify;
    opacity: 0.8;
}