.header {
    border-bottom: 1px solid #b9b9b96e;
    padding-bottom: 0.5rem;
    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
}
.separator {
    display: inline-block;
    width: 8px;
    background: var(--red);
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
}
.summary {
    font-size: 0.75rem;
    font-weight: 200;
}