:root {
    --dark-gray: hsl(210, 13%, 24%);
    --gray: hsl(212, 6%, 42%);
    --gray20: hsl(212, 6%, 42%, 20%);
    --black30: hsla(0,0%,0%,0.3);
    --light-gray: hsl(0, 0%, 53%);
    --red: hsl(10, 91%, 62%);
    --red-hover: hsl(15, 100%, 98%);
    --red-shadow: hsl(0, 13%, 72%, 30%);
    --blue: hsl(240, 40%, 52%);
    --green: hsl(134, 40%, 52%);
    --light: 300;
    --normal: 400;
    --bold: 500;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h2, h3 {
    color: var(--dark-gray);
  }
  * {
    box-sizing: border-box;
  }
  .alert {
    border-left: 3px solid var(--red);
    background-color: var(--red-hover);
    padding: 0.5rem;
    margin-right: 0.5rem;
    display: block;
}
  .mb0 {margin-bottom: 0;}
  .mb4 {margin-bottom: 4rem;}
  .mt2 {margin-top: 2rem;}
  .mv2 {margin: 2rem 0;}
  .mv4 {margin: 4rem 0;}
  