:root {
  // ----------------colors----------------------
  --americanBlue: hwb(221 17% 55%);
  --arsenic: hwb(210 21% 73%);
  --black: hwb(0 0% 100%);
  --black20: hwb(0 0% 100% / 0.2);
  --black40: hwb(0 0% 100% / 0.4);
  --blue: hwb(240 33% 29%);
  --blue50: hwb(240 33% 29% / 50%);
  --blueGray: hwb(210 40% 20%);
  --blueGray25: hwb(210 40% 20% / 0.25);
  --buttonBlue: hwb(206 15% 9%);
  --carbonGrey: hwb(0 37% 63%);
  --charcoal: hwb(214 21% 64%);
  --chineseSilver20: hwb(0 80% 20% / 0.2);
  --darkCharcoal: hwb(0 20% 80%);
  --darkCharcoal25: hwb(0 20% 80% / 0.25);
  --denim: hwb(221 23% 41%);
  --denim25: hwb(221 23% 41% / 0.25);
  --frenchBlue: hwb(201 0% 29%);
  --frenchBlue25: hwb(201 0% 29% / 0.25);
  --gray: hwb(212 40% 55%);
  --gray20: hwb(212 40% 55% / 0.2);
  --gray50: hwb(212 40% 55% / 0.5);
  --green: hwb(142 11% 34%);
  --green50: hwb(142 11% 34% / 50%);
  --loblolly50: hsla(210, 15%, 75%, 50%);
  --mahogany: hwb(15 0% 20%);
  --moonstone: hwb(200 20% 20%);
  --pictonBlue: hwb(206 33% 7%);
  --pictonBlue25: hwb(206 33% 7% / 0.25);
  --rhino: hwb(221 17% 55%);
  --seaBlue: hwb(200 0% 40%);
  --sonicSilver: hwb(0 47% 53%);
  --sonicSilver25: hwb(0 47% 53% / 0.25);
  --tomato: hwb(10 27% 4%);
  --tomato10: hwb(10 27% 4% / 0.1);
  --tomato25: hwb(10 27% 4% / 0.25);
  --tomato50: hwb(10 27% 4% / 0.5);
  --ufoGreen: hwb(140 20% 20%);
  --ufoGreen25: hwb(140 20% 20% / 25%);
  --yellow: hwb(53 1% 7%);
  --yellow10: hwb(53 1% 7% / 0.1);
  --white: hwb(0 100% 0%);
}

/* ---------------------Spacing----------------------- */
.mb0 {margin-bottom: 0;}
.mb4 {margin-bottom: 4rem;}
.mt2 {margin-top: 2rem;}
.mv2 {margin: 2rem 0;}
.mv4 {margin: 4rem 0;}

/*----------- Global styles ----------------------*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h2, h3 {
  color: var(--arsenic);
}
* {
  box-sizing: border-box;
}

/*------------ Common styles ------------------------------------*/
.alert {
  border-left: 3px solid var(--tomato);
  background-color: var(--tomato10);
  padding: 0.5rem;
  margin-right: 0.5rem;
  display: block;
}
.btn__viewMore {
  padding: 0.4rem;
  max-width: 100px;
  font-size: 0.7rem;
  color: var(--arsenic);
  font-weight: 600;
  transition: 0.5s;
  letter-spacing: 1px;
  border: 2px solid var(--arsenic);
  &:hover {
      box-shadow: inset 0 -3rem 0 0 var(--arsenic);
      color: white;
  }
}

/* ---------------------Custom scrollbar------------- */
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background: var(--arsenic);
  border-radius: 20px;
}
  