.projects {
    display: flex;
}
.githubRepos {
    display: grid;
    row-gap: 2rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.articles {
    margin-bottom: 2rem;
}