.card {
    margin-bottom: 1.4rem;
    border-left: 3px solid var(--red);
    padding: 0.25rem 0.5rem 0 0.5rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 4px 1px var(--red-shadow);
    cursor: pointer;
    display: flex;
    h3 { 
        margin: 0 0 0.5rem 0;
    }
    summary {
        font-size: 0.9rem;
    }
    small {
        font-size: 0.7rem;
    }
}
.cardBody {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    summary {
        margin-top: 0.5rem;
    }
}
.cardTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        h3 {
            margin: 0;
            margin-right: 0.5rem;
        }
        display: flex;
        align-items: center;
    }
}
.cardImage {
    width: 80px;
    min-height: 80px;
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
}